
<div class="col-md-12 c">
    <h1 class="ctxt2 c">
        <a class="nav-link atxt1" href="/">
            <img src="{% static 'img/people/gabriel.jpg' %}" class="rounded-circle boximg mt-4 mb-4 " width="250px" alt="*">
        </a>
    </h1>
</div>
<h1 class="ctxt2 c"><a class="nav-link atxt1" href="/">GABRIEL</a></h1>
<h6 class="ctxt2 c">Gabriel Eduardo Masutier Robayo</h6>
<div class="col-md-12 c">
    <h4 class="ctxt2 c">Contact</h4>
    <h6 class="ctxt2 c">CellPhone +57 319 403 6153</h6>
    <h6 class="ctxt2 c">masutier@gmail.com</h6>
</div>
<div class="col-md-12 mx-auto mt-4 c ">
    <ul class="d-flex pr-4 justify-content-center">
        <li class="list-group">
            <a class="list" title="Facebook" href="https://www.facebook.com/gabriel.masutier/" target="_blank">
                <img src="{% static 'img/icons/redes/facebook.png' %}" class="imgfoot"/>
            </a>
        </li>
        <li class="list-group">
            <a class="list" title="Instagram" href="https://www.instagram.com/gabrielmasutier/" target='_blank'>
                <img src="{% static 'img/icons/redes/instagram.png' %}" class="imgfoot" >
            </a>
        </li>
        <li class="list-group">
            <a class="list" title="Instagram" href="https://www.linkedin.com/in/gabrielmasutier" target='_blank'>
                <img src="{% static 'img/icons/redes/linkdin.png' %}" class="imgfoot" >
            </a>
        </li>
        <li class="list-group">
            <a class="list" title="Whatsapp" href="https://api.whatsapp.com/send?phone=573194036153" target="_blank">
                <img src="{% static 'img/icons/redes/whatsapp.png' %}" class="imgfoot" >
            </a>
        </li>
    </ul>
</div>