{% extends 'layout.html' %}

{% block content %}
<div class="col-12 mx-auto mb-5">
    <div class="col-11 mx-auto">

        <div class="col-8 mx-auto c mt-5 mb-4">
            <h4>Tenemos {{ objBuycount }} Objetos listos para comprar</h4>
        </div>

        <div class="col-8 mx-auto c mb-4">
            <h4>Tenemos {{ objDoitount }} Tareas listas para hacer</h4>
        </div>

        <div class="col-8 mx-auto c mb-4">
            <h4>Tenemos {{ objHistcount }} Objetos en Historia</h4>
        </div>

    </div>
</div>

{% endblock content %}
