{% extends 'layout.html' %}

{% block content %}
<div class="col-12">
    <div class="col-11 mx-auto c">
        <h2 class="mt-3">Compras</h2>
        <h3 class="mt-5">Modificar Producto</h3>
        <div class="col-6 mx-auto mt-4 c">
            <form action="/updatebuyit/{{ buyObj.id }}" method="POST">
                {{ form.hidden_tag() }}
                {{ form.action.label(class="form-label") }}
                {{ form.action(class="form-control", value=buyObj.toBuy) }}
                <br/>
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>
</div>

{% endblock content %}
